<app-navbar></app-navbar>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Schedule Management System</title>

    </head>
    <body>
        <h1 class="title">Schedule Management System</h1>
        <div class="box" style="padding-bottom: 10vw;">
            <button class="button2" style="float: left;">Upload File</button>
            <button class="button2" style="float: right;" (click)="generate()">Generate</button>
        </div>
        <button class="button2">Download File</button>

    </body>
</html>
